node_modules/

.png\n*
results/*/screenshots*/
results/*/temp*/
results/*/*graph.json
results/*/*graph2.json
results/*/*graph3.json
firebaseConfig.js
results/
/test-results/
/playwright-report/
/playwright/.cache/
